/*Her er nogle af de standart indstillinger for min hjemmeside
Her er blandt andet min farvepalette skift type og indstillinger
for mine forskellige typer tekst (h1, h2 osv..)*/
:root{
    --primary-color:#D8FA3D;
    --secondary-color: #7101FA;
    --tertiary-color:#F51F86;
    --quarternary-color: #32F089;
    --font-set: 'Righteous', cursive;
    --second-font-set: Arial, Helvetica, sans-serif;
}

body{
    font-family: var(--second-font-set);
    margin: 0;
    background-color: black;
}

/*En fed lille ting jeg fandt her: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2
Synes det givere en rarere oplevelse når man bruger "jump to section" links*/
html{
    scroll-behavior: smooth;
}

h1{
    font-size: 48px;
    font-family: var(--font-set);
    color: white;
    text-align: center;
    padding: 0px 10px;
}

h2{
    font-size: 32px;
    font-family: var(--second-font-set);
    font-style: italic;
    color: var(--quarternary-color);
    text-align: center;
    padding: 0px 10px;
}

p{
    font-size: 24px;
    font-family: var(--second-font-set);
    color: white;
    text-align: center;
    padding: 0px 10px;
}

/*Her har vi stylet navigationsbaren*/
.navigation {
    background-color: black;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    display: block;
    padding: 8px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0;
    display: none;
    flex-direction: column;
    width: 100%;
}

.nav-ul a {
    text-decoration: none;
    color: white;
    font-family: var(--font-set);
    padding: 8px 12px;
    text-align: center;
    font-size: 24px;
    display: block;
    text-align: center;
}

.nav-ul a.active{
    color: var(--primary-color);
}

/*Min underline hover effect. Fandt denne tutorial der hjalp mig på vej:
https://www.youtube.com/watch?v=P2ruqN_IW2E*/
.nav-ul a::after{
    content:'';
    height: 2px;
    width: 0%;
    background-color: var(--quarternary-color);
    display: block;
    transition: .5s ease-in-out;
}

.nav-ul a:hover::after{
    content:'';
    height: 2px;
    width: 100%;
    background-color: var(--quarternary-color);
    display: block;
}

/*Her er stylingen der laver hamburger menuen.*/
.hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 30px;
    display: block;
    padding: 8px;
}

.hamburger:focus {
    outline: none;
}

.nav-ul.show {
    display: flex;
}

.show {
    display: block;
}

/*Her starter stylingen til min forside*/
.banner{
    width: 100%;
    display: none;
}

.mobilbanner{
    width: 100%;
    display: block;
}

.forsidebilleder{
    width: 100%;
}

.designknap{
    background-color: var(--primary-color);
    text-decoration: none;
    color: black;
    font-family: var(--font-set);
    font-size: 32px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    display: block;
    margin: 0px 23%;
}

.digitalknap{
    background-color: var(--quarternary-color);
    text-decoration: none;
    color: black;
    font-family: var(--font-set);
    font-size: 32px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    display: block;
    margin: 0px 15%;
    margin-bottom: 80px;
}

.arrowdown{
    font-size: 32px;
    color: var(--tertiary-color);
    display: block;
    text-align: center;
}

/*Min footer*/
footer{
    background-color: black;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    border: 0px;
    border-top: 5px;
    border-style: solid;
    border-color: var(--secondary-color);
}

.footerlogo{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.footerh3{
    color: white;
    text-align: center;
    font-family: var(--font-set);
}

.social{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 20px;
}

.footertext{
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

.heart{
    color: var(--primary-color);
    font-size: 30px;
    text-align: center;
    padding: 5px;
    padding-bottom: 15px;
    margin: 0;
}

@media screen and (min-width: 600px) {
    /*Styling til min forside*/
    .designknap{
        margin: 0px 30%;
    }
    
    .digitalknap{
        margin: 0px 24%;
        margin-bottom: 80px;
    }

    /*Styling af paragraphs*/
    p{
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 750px) {
    /*Styling af hamburgermenu og navbar*/
    .hamburger {
        display: none;
    }

    .nav-ul {
        display: block;
        flex-direction: none;
        margin: 0;
        width: auto;
    }

    .nav-ul a{
        margin: 0;
        font-size: 20px;
    }

    .logo {
        width: 150px;
        padding: 15px;
    }

    .nav-ul li {
        display: inline-block;
    }

    /*Styling af paragraphs*/
    p{
        margin-left: 80px;
        margin-right: 80px;
    }

    /*Styling til min forside*/
    .banner{
        display: block;
    }
    
    .mobilbanner{
        display: none;
    }

    .arrowdown{
        font-size: 42px;
        position: relative;
        z-index: 2;
        margin-top: -12%;
        margin-bottom: 12%;
    }

    .forsidebilleder{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 850px) {
    /*Styling af navbar*/    
    .nav-ul a{
        padding: 10px 20px;
    }

    /*Styling til min forside*/
    .designknap{
        margin: 0px 34%;
    }
    
    .digitalknap{
        margin: 0px 30%;
        margin-bottom: 80px;
    }

    .forsidebilleder{
        width: 60%;
    }

    /*Styling af paragraphs*/
    p{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 1000px) {
    /*Styling til min forside*/
    .designknap{
        margin: 0px 39%;
    }
    
    .digitalknap{
        margin: 0px 37%;
        margin-bottom: 80px;
    }

    .forsidebilleder{
        width: 50%;
    }

    /*Styling af paragraphs*/
    p{
        margin-left: 200px;
        margin-right: 200px;
    }
}